.dot {
  height: 15px;
  width: 15px;
  display: inline-block;
}

.icon:hover {
  opacity: 60%;
}

.taskSummary {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding-left: 0;
  align-items: center;
}

.bin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.review {
  background-color: rgba(0, 123, 255, 0.2);
}

.done {
  background-color: rgba(40, 167, 69, 0.2)
}

.done-font {
  color: rgba(40, 167, 69, 0.5);
}

.total {
  background-color: rgba(23, 162, 184, 0.2)
}

.review-font {
  color: rgba(23, 162, 184, 0.5)
}

.inProgress {
  background-color: rgba(255, 193, 7, 0.2)
}

.inProgress-font {
  color: rgba(255, 193, 7, 0.5)
}

.toDo {
  background-color: rgba(220, 53, 69, 0.2)
}

.toDo-font {
  color: rgba(220, 53, 69, 0.5)
}